<template name = "googleCheckEmail">
	<form>		
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-btn">
						<button class="btn btn-default" name="buttonCheckEmail" type="button">Trouver une adresse mail</button>
				</span>
				
			</div>

		</div>
	</form>
</template>

<template name ="googleCreateEmail">
		<div class="form-group">
			<div class="input-group">
				<input type="text" name="googleMail" class="form-control" value={{mailCompany}}>
				<span class="input-group-btn">
						<button class="btn btn-default" name="buttonCreateEmail" type="button">Créer !</button>
				</span>
				
			</div>
		</div>
</template>

<template name = "googleApi">
	<h2>Adresse {{companyName}}</h2>
	{{#if mailFound}}
		{{> googleCreateEmail}}
	{{else}}
		{{> googleCheckEmail}}
	{{/if}}
	<p>{{requestGoogleStatus}}</p>


</template>