<template name = "googleApi">
	<h2>Adresse {{companyName}}</h2>
	{{#if authenticated}}
		{{#if mailFound}}
			{{#unless mailCreated}}
				{{> googleCreateEmail}}
			{{/unless}}
		{{else}}
			{{> googleCheckEmail}}
		{{/if}}
		{{#if mailCreated}}
			{{#unless allGroupsHaveBeenJoined}}
				{{> joinGoogleGroups}}
			{{/unless}}
		{{/if}}
	{{else}}
		{{#unless allGroupsHaveBeenJoined}}
			{{> googleAuthentication}}
		{{/unless}}
	{{/if}}
	{{> StatusOfGoogleRequests}}
</template>

<template name="StatusOfGoogleRequests">
	{{#if failuresOfRequestsGoogle}}
		<div class = "alert alert-danger">
			{{#if failureOfCompanyMailCreation}}
				<p>Erreur. L'adresse mail n'a pas été créée.</p>
			{{/if}}
			{{#if groupsHaveNotBeenJoined}}
				<p>L'adresse {{companyMail}} n'a pas été rajoutée aux groupes :</p>
				<ul>
				{{#each requestGoogle.groupsNotJoined}}
					<li>{{groupName}}</li>
				{{/each}}
				</ul>
			{{/if}}
		</div>
	{{/if}}	

	{{#if warningAboutCompanyMailCreation}}
		<p class = "alert alert-info">Attention ! L'adresse mail qui a été créée est {{requestGoogle.email}} ! </p>
	{{/if}}

	{{#if successesOfRequestsGoogle}}
		<div class="alert alert-success">
			{{#if successOfCompanyMailCreation}}
				<p>L'adresse mail {{requestGoogle.email}} a été créée !</p>
			{{/if}}
			{{#if groupsHaveBeenJoined}}
				<p>L'adresse {{requestGoogle.email}} a été rajoutée aux groupes :</p>
				<ul>
				{{#each requestGoogle.groupsJoined}}
					<li>{{groupName}}</li>
				{{/each}}
				</ul>
			{{/if}}
		</div>
	{{/if}}
</template>

<template name ="googleAuthentication">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-btn">
						<button class="btn btn-default" name="buttonGoogleAuthentication" type="button">S'authentifier sur Google</button>
				</span>
				
			</div>
		</div>
</template>

<template name = "googleCheckEmail">
	<form>		
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-btn">
						<button class="btn btn-default" name="buttonCheckEmail" type="button">Trouver une adresse mail</button>
				</span>
				
			</div>

		</div>
	</form>
</template>

<template name ="googleCreateEmail">
		{{#if mailNotCreated}}
		<div class = "alert alert-info">L'adresse mail suivante est disponible. Vous pouvez demander sa création immédiatement.</div>
		{{/if}}
		{{#if noMailFound}}
		<div class ="alert alert-danger">Aucune adresse mail n'a été trouvée. Veuillez entrer manuellement une adresse mail.</div>
		{{/if}}
		<div class="form-group">
			<div class="input-group">
				<input type="text" name="companyMail" class="form-control" value={{companyMail}}>
				<span class="input-group-btn">
						<button class="btn btn-default" name="buttonCreateEmail" type="button">Créer !</button>
				</span>				
			</div>
		</div>
</template>

<template name="joinGoogleGroups">
	<form>		
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-btn">
						<button class="btn btn-default" name="joinGroups" type="button">Relier aux groupes de {{job}}</button>
				</span>
				
			</div>

		</div>
	</form>
</template>