<template name = "gitHubInformations">
	<h2>Git Hub</h2>
	<form>

	<label>Login Github</label>
		
		<div class="form-group">
			<div class="input-group">
				<input type="text" name="comptegithub" class="form-control" value={{comptegithub}}>
						
							
				<span class="input-group-btn">
						<button class="btn btn-default" name="windowGitHubForm" type="button">Relier à l'organisation Theodo sur GitHub</button>
				</span>
				
			</div>
			 <p>{{requestGitHubStatus}}</p>

		</div>
	</form>
</template>