<template name="index">
	<p class="logo"><img src="images/logo.png" /></p>

	<h1><strong>A vous de jouer !!!!!!</strong></h1>
	<div class="vide"> </div>


	{{#if currentUser}}
		<p class="txt"><a href="/Formulaire"><button class="btn btn-lg"> Créer un nouveau Theodoer </button></a></p>
		<div class="vide"> </div>


		<h2><strong>Liste des Theodoers créés</strong></h2>


		<div class="txt2">
			<div class = "panel panel-warning">
				<div class = "panel-heading">
					<input type ="checkbox" name="printOnlyOnesCreatedEmployees" {{checked}}>N'afficher que les utilisateurs que j'ai créés
				</div>
			</div>
			<ul class="list-group">
			{{#each theodoers}}
				<li class="list-group-item list-group-item-info">{{> theodoer}}</li>
			{{/each}}
			</ul>
		</div>
	{{/if}}


</template>
