<template name="createForm">

	<form> 
		<div class="form-group">
			<label>Prénom</label>
			<input type="text" name="prenom" class="form-control" placeholder="Prénom">
		</div>

		<div class="form-group">
			<label>Nom</label>
			<input type="text" name="nom" class="form-control" placeholder="Nom">
		</div>
		
		<div class="form-group">
			<label>E-mail</label>
			<input type="text" name="email" class="form-control" placeholder="E-mail">
		</div>
		
		<div class="form-group">
			<label>Login Github</label>
			<input type="text" name="comptegithub" class="form-control" placeholder="Login Github">
		</div>
		
		<button type="submit" class="btn btn-lg" name="createTheodoer" >Créer le Theodoer</button>
		<button type="button" class="btn btn-lg" name="cancel">Annuler</button>
		
	</form>
</template>