<template name="UpdateForm">
	{{> mainInformations}}

	{{#if shouldBeDisplayedApi "githubApi"}}
		{{> gitHubInformations}}
	{{/if}}

	{{#if shouldBeDisplayedApi "googleApi"}}
		{{> googleApi}}
	{{else}}

		<h2>Adresse google</h2>
		<form>
			<label>Email Entreprise</label>
			<div class="form-group">
				<div class="input-group">
					<input type="text" name="companyMail" class="form-control" value={{companyMail}}>
				</div>
			</div>
		</form>
		{{#if companyMailSet}}
			<div class="alert alert-success" role ="alert">{{companyMailSet}}</div>
		{{/if}}
	{{/if}}

	{{#if shouldBeDisplayedApi "trelloApi"}}
			{{> trello}}
	{{/if}}

	{{#if shouldBeDisplayedApi "OpenStackApi"}}
		{{> OpenStack}}
	{{/if}}

	{{#if shouldBeDisplayedApi "mailingApi"}}
		{{> email1_envoi}}
		{{> email2_envoi}}
	{{/if}}

</template>

<template name = "mainInformations">
	<form>

	<label>Modification</label>

		<div class="form-group">
			<label>Prénom</label>
			<input type="text" name="prenom" class="form-control" value={{prenom}}>
		</div>
		<div class="form-group">
			<label>Nom</label>
			<input type="text" name="nom" class="form-control" value={{nom}}>
		</div>

		<div class="form-group">
			<label>E-mail</label>
			<input type="text" name="email" class="form-control" value={{email}}>
		</div>

		<div class="form-group">
			<label>Téléphone</label>
			<input type="text" name="phone" class="form-control" value={{phone}}>
		</div>

	</form>
</template>



