<template name="UpdateForm">
	{{> mainInformations}}
	{{> gitHubInformations}}
	{{> trello}}
	
		
		

		
<!-- 		<button type="submit" class="btn btn-lg" onclick="document.location.href='/index';">Enregistrer les Modifications</button>
		<button class="btn btn-lg"  onclick="document.location.href='/index';">Annuler</button>
		
 --></template>

<template name = "mainInformations">
	<form> 
	
	<label>Modification</label>
	
		<div class="form-group">
			<label>Prénom</label>
			<input type="text" name="prenom" class="form-control" value={{prenom}}>
		</div>
		<div class="form-group">
			<label>Nom</label>
			<input type="text" name="nom" class="form-control" value={{nom}}>
		</div>
		
		<div class="form-group">
			<label>E-mail</label>
			<input type="text" name="email" class="form-control" value={{email}}>
		</div>
	</form>
</template>

<template name = "gitHubInformations">
	<h2>Git Hub</h2>
	<form>

	<label>Login Github</label>
		
		<div class="form-group">
			<div class="input-group">
				<input type="text" name="comptegithub" class="form-control" value={{comptegithub}}>
						
							
				<span class="input-group-btn">
						<button class="btn btn-default" name="windowGitHubForm" type="button">Relier à l'organisation Theodo sur GitHub</button>
				</span>
				
			</div>
			 <p>{{requestGitHubStatus}}</p>

		</div>
	</form>
</template>

<template name = "trelloInformations">
	<form>

	<label>Login Trello</label>
		
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-btn">
						<button class="btn btn-default" name="trelloRequest" type="button">Relier à l'organisation Theodo sur Trello</button>
				</span>
				
			</div>
			 <p>{{requestTrelloStatus}}</p>

		</div>
	</form>
</template>

<template name ="trelloAuthentication">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-btn">
						<button class="btn btn-default" name="buttonTrelloAuthentication" type="button">S'authentifier sous Trello</button>
				</span>
				
			</div>
		</div>
</template>

<template name = "trello">
	<h2>Trello</h2>
	{{#if authenticated}}
		{{> trelloInformations}}
	{{else}}
		{{> trelloAuthentication}}
	{{/if}}

</template>