<template name="UpdateForm">
	{{> mainInformations}}
	{{> gitHubInformations}}
	{{ >googleApi}}
	{{> trello}}
	
    {{#if isDev}}
		{{> OpenStack}}
	{{/if}}
    
	{{> email1_envoi}}
	{{> email2_envoi}}

	
  
</template>

<template name = "mainInformations">
	<form> 
	
	<label>Modification</label>
	
		<div class="form-group">
			<label>Prénom</label>
			<input type="text" name="prenom" class="form-control" value={{prenom}}>
		</div>
		<div class="form-group">
			<label>Nom</label>
			<input type="text" name="nom" class="form-control" value={{nom}}>
		</div>
		
		<div class="form-group">
			<label>E-mail</label>
			<input type="text" name="email" class="form-control" value={{email}}>
		</div>
        
		<div class="form-group">
			<label>Téléphone</label>
			<input type="text" name="phone" class="form-control" value={{phone}}>
		</div>
        
	</form>
</template>



